alembic
arrow
bcrypt
beautifulsoup4
decorator
faiss-cpu
Flask
Flask-Cors
Flask-Login
flask-migrate
Flask-MySQLdb
Flask-SQLAlchemy
flask_wtf
huggingface-hub
ipykernel
ipython
ipywidgets
langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchainhub
# langsmith
numpy
openai
pandas
requests
SQLAlchemy
uvicorn
wtforms