{% extends 'chat_base.html' %}

{% block title %}{{ conversation.title }} - Chats{% endblock %}

{% block content %}

<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">

  {% if persona_in_use.data_id %}
  <ul class="flex flex-col justify-end text-start -space-y-px">
    <li
      class="flex items-center gap-x-2 p-3 text-sm bg-white border text-gray-800 first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
      <div class="w-full flex justify-between truncate">
        <span class="me-3 flex-1 w-0 truncate">
          {{ data.filepath }}.{{ data.datatype }}
        </span>
        <button type="button"
          class="flex items-center gap-x-2 text-gray-500 hover:text-blue-600 whitespace-nowrap dark:text-neutral-500 dark:hover:text-blue-500">
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
            <polyline points="7 10 12 15 17 10" />
            <line x1="12" x2="12" y1="15" y2="3" />
          </svg>
          Download
        </button>
      </div>
    </li>
  </ul>
  {% endif %}

  <ul class="space-y-5">
  {% for message in messages %}
    {% if message.is_user %}
    <!-- User Chat -->
    <li class="max-w-lg gap-x-2 sm:gap-x-4 flex justify-end ms-auto">
      <div class="grow text-end space-y-3">
        <!-- Card -->
        <div class="rounded-2xl p-4 inline-block bg-blue-600 shadow-sm">
          <p class="text-sm text-white">
            <!-- USER MESSAGE CONTENT HERE -->
            {{ message.content }}
          </p>
        </div>
        <!-- End Card -->
      </div>
    </li>
    <!-- End User Chat -->
    {% else %}
    <!-- Bot Chat -->
    <li class="max-w-lg gap-x-2 sm:gap-x-4 flex">
      <!-- Card -->
      <div class="bg-white border border-gray-200 rounded-2xl p-4 space-y-3 dark:bg-slate-900 dark:border-gray-700">
        <p class="text-sm text-gray-800 dark:text-white">
          <!-- BOT MESSAGE CONTENT HERE -->
          {{ message.content }}
        </p>
      </div>
      <!-- End Card -->
    </li>
    <!-- End Bot Chat -->
    {% endif %}
  {% endfor %}
  </ul>

</div>

<!-- Search -->
<footer class="max-w-4xl mx-auto sticky bottom-0 z-10 bg-transparent pt-2 pb-4 sm:pt-4 sm:pb-6 px-4 sm:px-6 lg:px-0">

  <!-- Input -->
  <form method="post">
  <div class="relative">
    <input name="message"
      class="p-4 pb-12 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
      placeholder="Ask me anything..."></input>

    <!-- Toolbar -->
    <div class="absolute bottom-px inset-x-px p-2 rounded-b-md bg-white dark:bg-slate-900">
      <div class="flex justify-between items-center">
        <!-- Button Group -->
        <div class="flex items-center">

        </div>
        <!-- End Button Group -->

        <!-- Button Group -->
        <div class="flex items-center gap-x-1">

          <!-- Send Button -->
          <button type="submit"
            class="inline-flex flex-shrink-0 justify-center items-center size-8 rounded-lg text-white bg-blue-600 hover:bg-blue-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500">
            <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
            </svg>
          </button>
          <!-- End Send Button -->
        </div>
        <!-- End Button Group -->
        </form>
      </div>
    </div>
    <!-- End Toolbar -->
  </div>
  <!-- End Input -->
</footer>
<!-- End Search -->
{% endblock %}