{% extends 'base.html' %}

{% block title %}Your Files{% endblock %}

{% block content %}

{% include 'announce.html' %}

<h1 class="text-center text-slate-900 dark:text-white">Your Uploaded Files will show up here</h1>
<form method="post" class="text-slate-900 dark:text-white" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    <label for="formFile" class="form-label">Upload your data to start</label>
    {{ form.file(class="form-control") }}
  </div>
  {{ form.submit(class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600
  text-white hover:bg-blue-700 hover:cursor-pointer disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1
  dark:focus:ring-gray-600") }}
</form>
{% endblock %}