{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% include 'announce.html' %}

{% if current_user.is_authenticated %}

<p class="text-center text-lg text-slate-950 dark:text-white">You are already logged in.</p>

{% else %}
<main class="w-full max-w-md mx-auto p-6">
	<div class="mt-2 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
		<div class="p-4 sm:p-7">
			<div class="text-center">
				<h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Sign in</h1>
				<p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
					Don't have an account yet?
					<a class="text-blue-600 decoration-2 hover:underline font-medium dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
						href="{{ url_for('register') }}">
						Sign up here
					</a>
				</p>
			</div>
			<div class="mt-5">
				<!-- Form -->
				<form method="post">
					<div class="grid gap-y-4">
						<div class="relative">
							<input type="email" name="email" id="hs-floating-gray-input-email" 
							class="peer p-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600
						  focus:pt-6
						  focus:pb-2
						  [&:not(:placeholder-shown)]:pt-6
						  [&:not(:placeholder-shown)]:pb-2
						  autofill:pt-6
						  autofill:pb-2" placeholder="you@example.com">
							<label for="hs-floating-gray-input-email" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
						    peer-focus:text-xs
						    peer-focus:-translate-y-1.5
						    peer-focus:text-gray-500
						    peer-[:not(:placeholder-shown)]:text-xs
						    peer-[:not(:placeholder-shown)]:-translate-y-1.5
						    peer-[:not(:placeholder-shown)]:text-gray-500">Email</label>
						</div>
						<!-- End Floating Input -->
						
						<!-- Floating Input -->
						<div class="relative">
							<input type="password" name="password" id="hs-floating-gray-input-password" 
							class="peer p-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600
						  focus:pt-6
						  focus:pb-2
						  [&:not(:placeholder-shown)]:pt-6
						  [&:not(:placeholder-shown)]:pb-2
						  autofill:pt-6
						  autofill:pb-2" placeholder="********">
							<label for="hs-floating-gray-input-passowrd" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
						    peer-focus:text-xs
						    peer-focus:-translate-y-1.5
						    peer-focus:text-gray-500
						    peer-[:not(:placeholder-shown)]:text-xs
						    peer-[:not(:placeholder-shown)]:-translate-y-1.5
						    peer-[:not(:placeholder-shown)]:text-gray-500">Password</label>
						</div>
						<!-- End Floating Input -->

						<!-- Form Group -->
						<!-- <div>
							<label for="email" class="block text-sm mb-2 dark:text-white">Email</label>
							<div class="relative">
								<input type="text" id="email" name="email"
									class="py-3 px-4 block w-full bg-gray-200 border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
									required aria-describedby="email-error">
								<div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
									<svg class="size-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
										aria-hidden="true">
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
									</svg>
								</div>
							</div>
							<p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid
								email address so we can get back to you</p>
						</div> -->
						<!-- End Form Group -->

						<!-- Form Group -->
						<!-- <div>
							<div class="flex justify-between items-center">
								<label for="password" class="block text-sm mb-2 dark:text-white">Password</label>
							</div>
							<div class="relative">
								<input type="password" id="password" name="password"
									class="py-3 px-4 block w-full bg-gray-200 border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
									required aria-describedby="password-error">
								<div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
									<svg class="size-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
										aria-hidden="true">
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
									</svg>
								</div>
							</div>
							<p class="hidden text-xs text-red-600 mt-2" id="password-error">8+ characters required
							</p>
						</div> -->


						<!-- <div class="max-w-sm">
							<label class="block text-sm mb-2 dark:text-white">Password</label>
							<div class="relative">
								<input id="hs-toggle-password" type="password" name="password"
									class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
									placeholder="Enter password" required>
								<button type="button" data-hs-toggle-password='{
						        "target": "#hs-toggle-password"
						      }'
									class="absolute top-0 end-0 p-3.5 rounded-e-md dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
									<svg class="flex-shrink-0 size-3.5 text-gray-400 dark:text-neutral-600" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
										<path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24" />
										<path class="hs-password-active:hidden"
											d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68" />
										<path class="hs-password-active:hidden"
											d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61" />
										<line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22" />
										<path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
										<circle class="hidden hs-password-active:block" cx="12" cy="12" r="3" />
									</svg>
								</button>
							</div>
						</div> -->
						<!-- End Form Group -->

						<!-- Checkbox -->
						<!-- <div class="flex items-center">
                            <div class="flex">
                                <input id="remember-me" name="remember-me" type="checkbox"
                                    class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                            </div>
                            <div class="ms-3">
                                <label for="remember-me" class="text-sm dark:text-white">Remember me</label>
                            </div>
                        </div> -->
						<!-- End Checkbox -->

						<button type="submit"
							class="w-full mt-4 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Sign
							in</button>
					</div>
				</form>
				<!-- End Form -->
			</div>
		</div>
	</div>
</main>
{% endif %}


{% endblock %}